li,ul{
    font-size: 20px;
    list-style: none;
}
ul{
    padding: 0;
    margin: 0;
}
.main{
    width: 150px;
    background: #cccccc;
}
li{
    background: #777777;
}
a{
    display: block;
    padding-left: 20px;
    text-decoration: none;
    padding-bottom:3px;
    padding-top:3px;
}
.main a{
    background-image: url("images/down.gif");
    background-repeat: no-repeat;
    background-position: 3px center;
}
.main li a{
    color: #FFFFFF;
    background-image: none;
}
.main ul{
    display: none;
}
.hmain{
    width:150px;
    background:#ccc;
    float:left;
}
.hmain a{
    background-image:url("images/down.gif");
    background-repeat:no-repeat;
    background-position:3px center;

}
.hmain li a{
    color:white;
    background-image:none;

}
.hmain ul{
    display:none;
}