table{
    border-collapse: collapse;
    border: 0;
}
td{
    font:normal 12px/17px Arial;
    width: 100px;
    padding: 2px;
}
th{
    font: normal 12px/17px Arial;
    text-align: left;
    padding: 4px;
    border-bottom:1px solid #333;
}
.odd{
    background: #ffffee;
}
.even{
    background: #fff38f;
}
.selected{
    background: #ff6500;
    color: #fff;
}